.navbar {
    display: flex; 
    flex-direction: column; 
    padding: 20px;
    background-color: #000;
    border: 5px solid #4A90E2;
    height: 100%;
    grid-column: 1;
}

.navbar h1 {
    color: white; 
    margin: 0; 
}

.nav-menu {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-left: 20px;
    padding-bottom: 10px;
}

.nav-menu a {
    text-decoration: none; 
    color: white; 
}

.nav-menu a:hover {
    border-bottom: 2px solid #fff;
}